h2 {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    text-align: left;
}

button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3cb0fd;
}

table {
    width: 100%;
    border-collapse: separate;
    border: solid 1px black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #1976d2;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border: none;
}

th {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}